.panel-header {
    background: linear-gradient(90deg,#fc4a1a 0,#f7b733 60%,#f7b733);
}

.off-canvas-sidebar[data-color=orange]:after, .sidebar[data-color=orange]:after {
    background: linear-gradient(#E44D26,#ffd800);
}

[data-background-color=orange] {
    background: linear-gradient(#E44D26,#ffd800);
}
/*.btn-primary {
            background: linear-gradient(#E44D26,#ffd800);
            color: #fff;
        }*/
.btn-primary.active:hover, .btn-primary:active:hover, .btn-primary:focus, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle, .show > .btn-primary.dropdown-toggle:focus, .show > .btn-primary.dropdown-toggle:hover {
    background: linear-gradient(#E44D26,#ffd800);
    color: #fff;
    box-shadow: none;
}

.card-wizard .nav-pills {
    background: linear-gradient(#ffd800,#ffd800);
}

.input-validation-error {
    border: 1px solid red;
    border-bottom: 7px solid red;
}

.valid {
    border: 1px solid #6edb1a;
}


.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
    background-color: #fc4a1a;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {    
    background-color: #fc4a1a;   
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: white;
    color: #888;
    cursor: not-allowed;
}

.table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 1em;
    font-weight: bold;
    border: 0;
}

.form-group {
    margin-bottom: 10px;
    position: relative;
}