<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <section name="cssSpriteGenerator" type="CssSpriteGenerator.ConfigSection" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WebCStr" connectionString="194af6e3b352dc429c963d2791bd00ffbeb61837fda6e7b16bb63a2aede2f76531576337b0117e52cac48e66aeff430c4b0d56e999e8e66f61b5d2bbedd06e9a758a1ed55d8c5f7f34d492a9f3c314b27c6086c3847de9b52e3d402044d38e9fc25442812ccda99607771723e29fa02cb3dd18a0df23053de6ec2800e65b99828129e615b98d481501edb84e9335fa85" />
  </connectionStrings>
  <appSettings>
    <add key="AppId" value="1" />
    <add key="AppName" value="SMS CAMPAIGN" />
    <add key="MaxReportPeriod" value="60" />
    <add key="SessionAlertTime" value="20" />
    <add key="formatchanger" value="x$3L(5RtnE`2?6Mg" />
    <add key="connectionkey" value="98ebaf9754a74c19615843fe5a3bccfb0bbc6f61f9fedb4a" />
    <add key="logPath" value="afcc4771a269469d5a9b542db3f4756b6449a1937a17c39a" />
    <add key="BULKPath" value="afcc4771a269469d5a9b542db3f4756be66dffd2e0c5723eae2690bef545e4e9" />
    <add key="TemPath" value="afcc4771a269469d5a9b542db3f4756be66dffd2e0c5723eae2690bef545e4e9" />
    <add key="AbsoluteUri" value="https://cts.myvi.in:8443/" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TokenValidityInHr" value="100" />
    <add key="Username" value="admin" />
    <add key="Password" value="admin" />
    <add key="Token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImFkbWluIiwibmJmIjoxNjcyMjg4MzEwLCJleHAiOjE2NzI2NDgzMTAsImlhdCI6MTY3MjI4ODMxMCwiaXNzIjoiaHR0cDovL2xvY2FsaG9zdDo1MDE5MSIsImF1ZCI6Imh0dHA6Ly9sb2NhbGhvc3Q6NTAxOTEifQ.AG1QRu_D4-bRR6kXxQiZhVsWLrTv1_WVBUp20CKCzsk" />

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.8" debug="true" />
    <httpRuntime targetFramework="4.6" maxRequestLength="100500000" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <!--<sessionState mode="InProc" cookieless="true" timeout="30" />-->
    
      <sessionState timeout="360"/>
    
    <!--<customErrors mode="On">
      <error redirect="~/Home/UnAuthorizesd" statusCode="404" />
    </customErrors>-->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100500000" />
        <!-- 20.5 MB - making it match maxRequestLength to fix issue with uploading 20mb file -->
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.1.0" newVersion="5.11.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <!-- 
    By default, the package only combines .png and .gif images into sprites, 
    and then only those whose width and height are 100px or less.

    To see how to use other selection criteria for combining images, and how to
    compress or resize images on the fly, see the links below.

    Full documentation starts at 
    http://aspnetperformance.com/post/Generate-CSS-sprites-and-thumbnail-images-on-the-fly-in-ASPNET-sites-part-1.aspx 

    Features compared with Microsoft's ASP.NET Sprite and Image Optimization Library
    http://aspnetperformance.com/post/Generate-CSS-sprites-and-thumbnail-images-on-the-fly-in-ASPNET-sites-part-1.aspx#features

    Introduction to CSS Sprites
    http://aspnetperformance.com/post/Generate-CSS-sprites-and-thumbnail-images-on-the-fly-in-ASPNET-sites-part-1.aspx#howspriteswork

    Quick Start, including demo sites showcasing major features
    http://aspnetperformance.com/post/Generate-CSS-sprites-and-thumbnail-images-on-the-fly-in-ASPNET-sites-part-1.aspx#quickstart

    Configuration
    http://aspnetperformance.com/post/Generate-CSS-sprites-and-thumbnail-images-on-the-fly-in-ASPNET-sites-part-2.aspx#configuration

    Compressing and resizing images on the fly, selecting with images goes into which sprites, etc.
    http://aspnetperformance.com/post/Generate-CSS-sprites-and-thumbnail-images-on-the-fly-in-ASPNET-sites-part-3.aspx#groups

    CSS Background Images
    http://aspnetperformance.com/post/Generate-CSS-sprites-and-thumbnail-images-on-the-fly-in-ASPNET-sites-part-3.aspx#cssBackgroundImages
    -->
  <cssSpriteGenerator active="Always" />
</configuration>
<!--ProjectGuid: 2605676B-DF08-4306-ADAF-A83EA5DDC668-->