
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Account/_Layout.cshtml";
}

<div class="container">
    <h2>Privacy policy</h2>
    <h4>General</h4>
    <p>
        Customer connect is software systerm intended to manages a company’s interactions and
        relationships with both current and potential customers. CRM software 
        (customer relationship management software) enhances the customer relationship through managing customer interaction, tracking leads, and streamlining processes. 
    </p>
    <h4>Privacy Policy ("Policy") describes how information obtained from users is collected, used and disclosed.</h4>
    <p>
        By using Customer connect, you agree that your personal information will be handled as described in this Policy.
    </p>
    <h4>
        Information being collected
    </h4>

    <p>
        Customer connect does not collect any personal identifiable information.
    </p>

    <h4>
        About our services
    </h4>

    <p>
        <b>Account Registration:</b> The admin will create the user, the user will never be
        able to register their account, and the admin will give the user the saved mobile number and password
        Privacy of user data. Customer connect does not sell, rent or monetize your personal data or content in any way – ever.
    </p>

    <h4>Changes to the Policy</h4>

    <p>
        If the Policy changes, the modification date below will be updated. The Policy may change from time to time, so please be sure to check back periodically.
        Last modified: 8 December 2021.
    </p>


    <h4>
        Contact
    </h4>

    <p>
        If you have any questions about the Policy, please contact us via shameerali.co@gmail.com
    </p>



</div>
