@model  Templateprj.Models.bulkagentModel
@{
    ViewBag.Title = "BulkAddAgent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content" id="top">

    <div class="modal">Loading....</div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-header">
                    <div class="row">

                        <div class="col s6">
                            <h5 class="text">BULK UPLOAD AGENT</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("BulkAddAgent", "Campaign", FormMethod.Post, new { enctype = "multipart/form-data", id = "Idform" }))
{
    <div>
        <div class="container">
            <div class="d-flex">

                <div style="margin-left:20px">

                    <input type="file" name="file" required="required" class="btn">

                </div>

                <div class="ml-2" style="margin-top:5px">
                    <button type="submit" value="serach" class=" btn btn-success">Upload</button>
                </div>
                <div class="ml-5" style="margin-top:20px">
                    <i class="now-ui-icons files_single-copy-04"></i>
                    <span style="color:saddlebrown;font-size:medium"><i> <a href="~/Uploads/SampleFile.xlsx">Sample File</a></i></span>
                </div>
            </div>




        </div>

    </div>
    <div class="d-flex" style="margin-top:14%">
        @if (Model.errordata != "" && Model.errordata != null)
        {
            <div class="ml-auto btn btn-outline-danger">
                <i class="now-ui-icons files_single-copy-04"></i>
                @*@Html.HiddenFor(m => m.errordata)*@
                <span><a href="Campaign/DownloadErrorAgentFile?" style="color: red; text-decoration: none;" onmouseover="this.style.color='white'" onmouseout="this.style.color='red'">Download Error File</a></span>
                <a onclick="downloaddata()">Download</a>
            </div>
        }

    </div>
}
@*<script src="~/Content/js/jquery.fileDownload.min.js"></script>*@

@section scripts {
    @Scripts.Render("~/Scripts/XL")

    <script>
        function goUp() {
            window.location.hash = '#top'
            //console.log("click")
            setTimeout(function () {
                var uri = window.location.toString();

                if (uri.indexOf("#") > 0) {
                    var clean_uri = uri.substring(0,
                        uri.indexOf("#"));

                    window.history.replaceState({},
                        document.title, clean_uri);
                }
            }, 1000);
        }
         @*function downloaddata()
         {
             var data = $("#errordata").val();

                $.ajax({
                    type: "get",
                    url: '@Url.Action("DownloadErrorAgentFile", "Campaign")',
                    dataType: 'json',
                    data: { data: data}
                    
                });


        }*@

       

        $body = $("body");
        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
                        });


    $(document).ready(function () {






        @if (ViewBag.ErrorMsg != null )
         {


           <text>

        ErrorMsg('@ViewBag.ErrorMsg');

        </text>
         }
          @if (ViewBag.success != null )
         {


           <text>


        SuccessMsg('@ViewBag.success');

        </text>
         }});

        //NewScripts
        $(document).ready(function () {
            //Wizards
            demo.initNowUiWizard();
            setTimeout(function () {
                $('.card.card-wizard').addClass('active');
            }, 600);
        });



    </script>
}